@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prose tweaks */
.prose :where(code):not(:where([class~="not-prose"] *)) {
  background: rgba(0,0,0,0.04);
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
}