

services:
  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"          # Nginx
    networks:
      - app-net
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "8000:8000"      # FastAPI
    environment:
      - PYTHONUNBUFFERED=1
      - ENV=production
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
